/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background : black;
    color: white;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body h1 {
    font-family: Snell Roundhand, cursive;
    text-align: center;
    font-size: 5em;
}

body h4 {
    font-family: Snell Roundhand, cursive;
    text-transform: capitalize;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    color: goldenrod
}

body a, a:visited, a:link, a:active {
    text-decoration: underline;
    text-transform: uppercase;
}

body a:hover {
    background-color: goldenrod;
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    display: inline;
}

.photo_links a:hover {
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 45px;
    display: flex;
    justify-content: flex-end;
}

nav li {
    align-self: center;
    /* float: right; */
}

nav li a, a:visited, a:link, a:active {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
}

textarea {
    width: 400px;
  }












